.photo {
  position: relative;
  width: 25rem;
  height: 250rem;
  margin: 2rem;

  &__canvas {
    display: block;
    opacity: 0;
    transition: opacity 0.1s ease-in-out;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 20;
  }
  &__image {
    max-width: 100%;
    max-height: 100%;
    z-index: 1;
  }
  &__icon {
    position: absolute;
    z-index: 30;
    right: 1rem;
    opacity: 0;
  }
  &__label--wrapper {
    display: block;
    opacity: 0;
    transition: opacity 0.1s ease-in-out;
    position: absolute;
    &:before {
      content: "";
      position: absolute;
      top: -40%;
      left: 35%;
      border-bottom: 0.8rem solid #5dd483;
      border-top-color: inherit;
      border-left: 0.8rem solid transparent;
      border-right: 0.8rem solid transparent;
    }
  }
  &__label {
    font-weight: bold;
    padding: 1% 6%;
    display: inline-block;
    min-width: 4rem;
    max-width: 8rem;
    min-height: 1.2rem;
    border-radius: 2rem;
  }

  &:hover {
    .photo__icon,
    .photo__canvas,
    .photo__label--wrapper {
      opacity: 1;
    }
  }
}
