.tabs {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-bottom: 1px solid black;
}

.tabs__area {
  display: flex;
  flex-direction: row;
  margin: 0;
  font-size: 1.5rem;
  padding: 0;
  list-style: none;
}

.tabs-item {
  cursor: pointer;
  padding: 2px 12px;
  top: 10px;
  box-shadow: 0 1px 0px 0px #1fa0db;
}

.is-active {
    border-top: 1px solid black;
    border-left: 1px solid black;
    border-right: 1px solid black;
    box-shadow: 0 1px 0px 0px white;
}
