.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.tabs {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 2rem;
}

.tabs__area {
  display: flex;
  flex-direction: row;
  margin: 0;
  font-size: 1.5rem;
  padding: 0;
  list-style: none;
}

.tabs-item {
  box-sizing: border-box;
  cursor: pointer;
  padding: 2px 12px;
  top: 10px;
}

.is-active {
  border-bottom: 3px inset #1fa0db;
}
